<div>
    <div class="heading"><a href="/landing"> Home </a></div>
          <div class="heading"><a href="/#/login"> Log in</a></div>
          <div class="heading"><a href="/#/aboutMe"> About Me</a></div>
          <div class="heading"><a href="/#/projects"> Projects </a></div>

    <p>Threads</p>

    <form name="newThreadForm">
        <input type="text" ng-model="title" placeholder="New thread title..." required/>
        <button ng-disabled="newThreadForm.$invalid" ng-click="createThreads(username, title)">Add Thread</button>
    </form>

    <ul>
        <li ng-repeat="thread in threads">
            <a ng-href="#/thread/{{thread.$id}}">
                <span>{{ thread.title }}</span>
                <span>(by {{ thread.username }})</span>
            </a>
        </li>
    </ul>
</div>